[project]
	description = Role management library with resource scoping
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Mark Lin (linmark333)
[access "refs/for/refs/*"]
	read = group user/Mark Lin (linmark333)
	push = group user/Mark Lin (linmark333)
	label-Code-Review = -2..+2 group user/Mark Lin (linmark333)
	label-Verified = -1..+1 group user/Mark Lin (linmark333)
	rebase = group user/Mark Lin (linmark333)
	removeReviewer = group user/Mark Lin (linmark333)
	submit = group user/Mark Lin (linmark333)
[access "refs/heads/*"]
	read = group user/Mark Lin (linmark333)
	create = group user/Mark Lin (linmark333)
	push = +force group user/Mark Lin (linmark333)
	pushMerge = group user/Mark Lin (linmark333)
[access "refs/tags/*"]
	push = +force group user/Mark Lin (linmark333)
	pushTag = group user/Mark Lin (linmark333)
	pushSignedTag = group user/Mark Lin (linmark333)
